body {
  background: url("https://wallpapercave.com/wp/wp2694502.jpg") no-repeat center;
  background-size: cover;
  animation: zoomBg 20s ease-in-out infinite alternate;
}

@keyframes zoomBg {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

header { display: flex; 
        justify-content: space-between; 
        padding: 15px; 
        background: #020617;
       }

nav a { margin: 0 10px;
       color: white;
       text-decoration: none;
      }

.hero { padding: 80px;
       text-align: center;
       background:  #1e293b;
      }

.section {
  background: rgba(15, 23, 42, 0.85);
  margin: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
  
        

.games-grid { display: grid; 
             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
             gap: 20px;
            }

.card { background: #1e293b; 
       padding: 15px; 
       border-radius: 10px; 
       text-align: center;
      }

.card img { width: 100%;
          }

.btn { display: inline-block;
      padding: 10px; 
      background: #3b82f6;
      color: white; 
      text-decoration: none; 
      border-radius: 5px; 
     }

footer { text-align: center; 
        padding: 20px; 
        background: #020617;
       }
.socials {
  margin-top: 30px;
}

.social-btn {
  display: block;
  margin: 10px 0;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.facebook { background: #1877f2;
          }
.instagram { background: #e1306c;
           }
.twitter { background #1da1f2;
         }

.social-btn:hover {
  opacity: 0.8;
}


