body {
  margin: 0;
  font-family: Arial;
  background: transparent;
  background-color: #0f172a;
  color: #e2e8f0;
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 15px; 
  background: #020617;
       }

nav a { margin: 0 10px;
       color: white;
       text-decoration: none;
      }
nav a:hover {
   transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
  opacity: 0.9;
}

.hero { padding: 80px;
       text-align: center;
       background:  #1e293b;
      }

.section {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  margin: 20px;
  border-radius: 12px;
  padding: 40px;
}
        

.games-grid { display: grid; 
             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
             gap: 20px;
            }

.card {
  background: rgba(30, 41, 59, 0.8);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}

.card img { width: 100%;
          }

.btn { display: inline-block;
      padding: 10px 15px; 
      background: linear-gradient(135deg, #3b82f6, #9333ea);
      color: white; 
      text-decoration: none; 
      border-radius: 6px; 
      transition: 0.3s;
     }
.btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(147, 51, 234, 0.6);
}

footer { text-align: center; 
        padding: 20px; 
        background: #020617;
       }
.socials {
  margin-top: 30px;
}

.social-btn {
  display: block;
  margin: 10px 0;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: rgba(30, 41, 59, 0.8);
  transition: 0.3s;
}

.social-btn:hover {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}

.facebook { background: #1877f2;  }
.instagram { background: #e1306c; }
.twitter { background: #1da1f2;  }
    


body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 20% 30%, #3b82f6, transparent 40%), radial-gradient(circle at 80% 70%, #9333ea, transparent 40%);
  opacity: 0.25;
  animation: moveGlow 25s linear infinite;
  z-index: -1;
}

@keyframes moveGlow {
  0% { transform: translate(0, 0); }
  50% { transform: translate(40px, 40px); }
  100% { transform: translate(0, 0); }
}


